
<div class="container" style="margin-top: 7%;border: 12px solid #003150">

    <form >
        <div class="row" style="background-color: #003150;margin-top: -2px">
            <div class="col-lg-12" style="margin-top:8px">
                <font style="color: #fff;">
                    <h4>CookBook:
                    </h4>
                </font>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <table class="table table-bordered table-responsive" style="border-color: #003150">
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>
                                <input type="text" [(ngModel)]="recipe.title" name="Title" class="form-control"/>
                            </td>
                        </tr>
                        <tr>
                                <td>Description</td>

                            <td>
                                <quill-editor [(ngModel)]="recipe.description" name="quill" ></quill-editor>
                  
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </form>


    <div class="row" align="center" style="background-color: #003150;margin-top: -2px">
        <br>
        <button class="btn btn-lg btn-rounded btn-success" style="background-color: #0fab0f;border-color: #0fab0f;" (click)="submit();">
            <i id="profile_save_spin" class="fa fa-save"></i>
            <b> SAVE</b>
        </button>
        <br>
        <br>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>